<!-- templates/includes/navbar.html -->
{% load static i18n %}
<nav class="border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-800">
    <div class="mx-auto flex max-w-screen-xl flex-wrap items-center p-4">
        <!-- LOGO -->
        <div class="flex grow items-center">
            <a href="{%  url "home" %}" class="flex">
                <img src="{% static "images/logo.svg" %}" class="mr-3 h-8" alt="Logo" title="Logo"/>
                <span class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"> -_- </span>
            </a>
        </div>
        <!-- /LOGO -->
        <!-- USER MENU -->
        <!--  if user.is_authenticated -->
            <div class="flex items-center pl-5 md:order-2">
                <button type="button" id="user-menu-drop-down-trigger" aria-expanded="false" data-dropdown-placement="bottom" data-dropdown-toggle="user-menu-drop-down"
                        class="mr-3 flex rounded-full bg-gray-800 text-sm focus:ring-4 focus:ring-gray-300 md:mr-0 dark:focus:ring-gray-600">
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="{% static "images/users/default_avatar_00.png" %}"
                         alt="the alt text"
                         title="the title text">
                </button>
                <!-- Dropdown menu -->
                <div id="user-menu-drop-down"
                        class="z-50 my-4 hidden list-none rounded-lg bg-white text-base shadow divide-y divide-gray-100 dark:divide-gray-600 dark:bg-gray-700">
                    <div class="px-4 py-3">
                        <span class="block text-sm text-gray-900 dark:text-white"> user username </span>
                        <span class="block truncate text-sm text-gray-500 dark:text-gray-400"> user email </span>
                    </div>
                    <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                            <a href="#"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white">
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white">
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Log Out"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white">
                                Log Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /USER MENU -->
            <button type="button" id="user-menu-drop-down-trigger" data-collapse-toggle="navbar-solid-bg" aria-controls="navbar-solid-bg" aria-expanded="false"
                    class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 md:hidden dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open main menu</span>
                <i class="fa-solid fa-bars"></i>
            </button>
        <!-- endif -->
        <!-- if user.is_authenticated -->
        <!-- else -->
            <div id="navbar-solid-bg" class="hidden w-full md:block md:w-auto">
                <ul class="mt-4 flex flex-col rounded-lg bg-gray-50 font-medium dark:border-gray-700 dark:bg-gray-800 md:space-x-8 md:mt-0 md:flex-row md:border-0 md:bg-transparent md:dark:bg-transparent">
                    <li>
                        <a href="#" title="Log In"
                           class="block rounded bg-blue-700 py-2 pr-4 pl-3 text-white dark:bg-blue-600 md:bg-transparent md:p-0 md:text-blue-700 md:dark:bg-transparent md:dark:text-blue-500"
                           aria-current="page">
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Sign Up"
                           class="block rounded py-2 pr-4 pl-3 text-gray-900 hover:bg-gray-100 dark:text-white md:border-0 md:p-0 dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500">
                            Sign Up
                        </a>
                    </li>
                </ul>
            </div>
        <!-- endif -->
    </div>
</nav>
